.mainContainer{
    display:flex;
    justify-content: flex-start;
    margin-left:0.5rem !important;
    margin-right:0.5rem !important;
    width: 100vw;
}
.banner{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    margin-left: 5rem
   
}

