.registerForm{
    display:flex;
    flex-direction: column;
    margin: 5rem 20rem 20rem 20rem;
    justify-content: center;
    border-radius: 5px;
   box-shadow: 2px 2px 5px #999;
   padding: 4rem;
    
}

.Register{
    margin: 0.5rem;
    border-radius: 5px;
    height: 2.5rem;
    padding-left: 1rem;
}

.formFields{
    display:flex;
    flex-direction: column;
    
}

.formButton{
    border-radius: 5px;
    margin:2rem;
}
.formButton:hover{
    margin:2rem;
    border-radius: 5px;
    background-color: grey;
}